<table width="610" border="0" align="center" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td align="center" valign="top">
        <table width="610" height="130" border="0" cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <td width="222" align="center" valign="middle">
                <a href="http://www.cursoapostilasolucao.com.br/" target="_blank">
                  <img src="http://www.editorasolucao.com.br/skin/frontend/new/editorasolucao/images/loja-logo.png" border="0" style="border:none;display:block" alt="CursoApostilaSolucao" class="CToWUd">
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td width="3" bgcolor="#ededed"></td>
      <td height="3" align="center" valign="top" bgcolor="#ededed"></td>
      <td width="3" bgcolor="#ededed"></td>
    </tr>
    <tr>
      <td align="center" valign="top">
        <table width="610" border="0" cellspacing="0" cellpadding="0">
        <tbody><tr>
          <td width="3" bgcolor="#ededed"></td>
          <td height="30" align="center" valign="middle"><table width="510" border="0" cellspacing="0" cellpadding="0">
            <tbody><tr>
              <td height="30" align="left" valign="middle"></td>
            </tr>
            <tr>
              <td align="left" valign="middle">
                <font face="Arial, Helvetica, sans-serif" color="#262626" style="font-size:14px">
                  <p>Mensagem enviada pelo usuário <%= @usuario.nome_completo %></p>
                  <p>E-mail: <%= @usuario.email %></p>
                  <p>===================================</p>
                  <p>Assunto: <%= @assunto %></p>
                  <p>Mensagem: <%= @mensagem %></p>
                  <p>===================================</p>
                </font>
              </td>
            </tr>
            <tr>
              <td height="30" align="left" valign="middle"></td>
            </tr>
          </tbody></table></td>
          <td width="3" bgcolor="#ededed"></td>
        </tr>
        <tr>
          <td width="3" bgcolor="#ededed"></td>
          <td height="3" align="center" valign="top" bgcolor="#ededed"></td>
          <td width="3" bgcolor="#ededed"></td>
        </tr>
        <tr>
          <td width="3" bgcolor="#ededed"></td>
          <td width="604" height="70" align="center" valign="middle"><table width="580" border="0" cellspacing="0" cellpadding="0">
            <tbody><tr>
              <td width="35" align="left" valign="middle"></td>
              <td width="545" align="left" valign="middle">
                <p>Curso Apostila Solução</p>
              </td>
            </tr>
          </tbody></table></td>
          <td width="3" bgcolor="#ededed"></td>
        </tr>
      </tbody>
    </table>
  </td>
  </tr>
    <tr>
      <td height="3" align="center" valign="top" bgcolor="#ededed"></td>
    </tr>
  </tbody>
</table>
