<div id="breadcrumbs-wrapper">
   <!-- Search for small screen -->
     <div class="header-search-wrapper grey hide-on-large-only">
         <i class="mdi-action-search active"></i>
         <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Buscar Curso..">
     </div>
   <div class="container">
     <div class="row">
       <div class="col s12 m12 l12">
         <h5 class="breadcrumbs-title">Dados Cadastrais</h5>
         <ol class="breadcrumbs">
             <li><%=link_to "Inicio", { :controller => "painel", :action => "index" } %></li>
             <li>Edite os seus dados pessoais abaixo:</li>
         </ol>
       </div>
     </div>
   </div>
 </div>

  <!--start container-->
  <div class="container container-dash">
      <h1>Teste</h1>
  </div>
  <!--end container-->
