
<div class="box">
  <div class="card">
    <form class="col s12 m7">
      <div class="row row-logo">
        <div class="col offset-m2">
          <img width="184" height="71" src="images/loja-logo.png">
        </div>
      </div>
      <div class="row">
        <div class="input-field">
          <input id="email" type="email" class="validate">
          <label for="email" data-error="E-mail inválido">E-mail</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field">
          <input id="password" type="password" class="validate">
          <label for="password">Senha</label>
        </div>
      </div>
      <div class="row">
        <p>
          <input type="checkbox" class="filled-in" id="filled-in-box" />
          <label for="filled-in-box">Lembrar-me</label>
        </p>
      </div>
      <div class="row row-form-submit">
        <div class="row-remember">
          <a href="#">Esqueceu sua senha?</a>
        </div>
        <div class="row-submit">
          <a class="btn disabled">Entrar</a>
        </div>
      </div>
    </form>
  </div>
</div>
